<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DeSleepTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <applicationSettings>
        <DeSleepTool.Properties.Settings>
            <setting name="StandaardZaakDocumentServicesVrijBerichtService"
                serializeAs="String">
                <value>http://localhost:8080/translate/generic/zds/VrijBericht</value>
            </setting>
            <setting name="StandaardZaakDocumentServicesOntvangAsynchroonService"
                serializeAs="String">
                <value>http://localhost:8080/translate/generic/zds/OntvangAsynchroon</value>
            </setting>
            <setting name="StandaardZaakDocumentServicesBeantwoordVraagService"
                serializeAs="String">
                <value>http://localhost:8080/translate/generic/zds/BeantwoordVraag</value>
            </setting>
          <setting name="ShowZaakDocuments" serializeAs="String">
            <value>True</value>
          </setting>
        </DeSleepTool.Properties.Settings>
    </applicationSettings>
</configuration>

