<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZaakDocumentServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ZaakDocumentServices.Properties.Settings>
            <setting name="FOLDER_TOSEND" serializeAs="String">
                <value>/ZaakGewijsWerken/TeVerzenden/</value>
            </setting>
            <setting name="FOLDER_SENDING" serializeAs="String">
                <value>/ZaakGewijsWerken/WordtVerzonden/</value>
            </setting>
            <setting name="FOLDER_SEND" serializeAs="String">
                <value>/ZaakGewijsWerken/ZijnVerzonden/</value>
            </setting>
            <setting name="FOLDER_ERROR" serializeAs="String">
                <value>/ZaakGewijsWerken/Fouten/</value>
            </setting>
        </ZaakDocumentServices.Properties.Settings>
    </applicationSettings>
</configuration>